:root {
	/* (Dark Mode Elements) */
	--rest-dark-blue: hsl(209, 23%, 22%);
	/* (Dark Mode Background) */
	--rest-very-dark-value: hsl(207, 26%, 17%);
	/* (Light Mode Text) */
	--rest-very-dark-blue: hsl(200, 15%, 8%);
	/* (Light Mode Input) */
	--rest-dark-gray: hsl(0, 0%, 52%);
	/* (Light Mode Background) */
	--rest-very-light-gray: hsl(0, 0%, 98%);
	/* (Dark Mode Text & Light Mode Elements) */
	--rest-white: hsl(0, 0%, 100%);
}
