/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth" 100,
		"YTLC" 500;

	/* Dashboard App Colors */
	--app-blue: #0f1623;
	--app-dark-blue: rgb(10, 8, 22);
	--app-yellow: #f4c48d;
	--app-white: #ffffff;

	/* Interactive Comments */
	--comments-moderate-blue: hsl(238, 40%, 52%);
	--comments-soft-red: hsl(358, 79%, 66%);
	--comments-light-grayish-blue: hsl(239, 57%, 85%);
	--comments-pale-red: hsl(357, 100%, 86%);
	--comments-dark-blue: hsl(212, 24%, 26%);
	--comments-grayish-blue: hsl(211, 10%, 45%);
	--comments-light-gray: #d8d8d8;
	--comments-very-light-gray: rgb(222, 222, 222);
	--comments-white: hsl(0, 0%, 100%);
	--comments-font-size: 16px;
	--comments-font-family: "Rubik", sans-serif;

	/* IP Address */
	--ip-very-dark-gray: hsl(0, 0%, 17%);
	--ip-dark-gray: hsl(0, 0%, 59%);

	/* Qr Card */
	--qr-white: hsl(0, 0%, 100%);
	--qr-light-gray: #b1bdca;
	--qr-grayish-blue: hsl(220, 15%, 55%);
	--qr-dark-blue: hsl(218, 44%, 22%);

	/* Age Calculator */
	--age-mobile: 375px;
	--age-desktop: 1440px;
	--age-purple: hsl(259, 100%, 65%);
	--age-light-red: hsl(0, 100%, 67%);
	--age-white: hsl(0, 0%, 100%);
	--age-off-white: hsl(0, 0%, 94%);
	--age-light-grey: hsl(0, 0%, 86%);
	--age-smokey-grey: hsl(0, 1%, 44%);
	--age-off-black: hsl(0, 0%, 8%);
	--age-font-size-inputs: 32px;
	--age-font-family: "Poppins", sans-serif;

	/* (Dark Mode Elements) */
	--rest-dark-blue: hsl(209, 23%, 22%);
	/* (Dark Mode Background) */
	--rest-very-dark-value: hsl(207, 26%, 17%);
	/* (Light Mode Text) */
	--rest-very-dark-blue: hsl(200, 15%, 8%);
	/* (Light Mode Input) */
	--rest-dark-gray: hsl(0, 0%, 52%);
	/* (Light Mode Background) */
	--rest-very-light-gray: hsl(0, 0%, 98%);
	/* (Dark Mode Text & Light Mode Elements) */
	--rest-white: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 47.9 95.8% 53.1%;
		--primary-foreground: 26 83.3% 14.1%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 47.9 95.8% 53.1%;
		--primary-foreground: 26 83.3% 14.1%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 35.5 91.7% 32.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

@layer utilities {
	.underline-animated {
		@apply relative inline-block cursor-pointer transition-all;
	}

	.underline-animated::after {
		content: "";
		@apply absolute left-0 top-[110%] h-[1px] w-full bg-white;
		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	}

	.underline-animated:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

@keyframes move {
	0% {
		transform: scale(1) translate(10px, -30px);
	}
	38% {
		transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
	}
	40% {
		transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
	}
	78% {
		transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
	}
	80% {
		transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
	}
	100% {
		transform: scale(1) translate(10px, -30px);
	}
}

.blob-animated {
	animation: move 10s ease-in-out infinite;
}

.polka-background {
	background-image: radial-gradient(#fde047 0.5px, transparent 0.5px),
		radial-gradient(#fde047 0.5px, #ffffff 0.5px);
	background-size: 20px 20px;
	background-position:
		0 0,
		10px 10px;
}

html.dark body {
	background-image: none;
	background-color: #0a0a0a;
}
