---
// Welcome to Astro! Everything between these triple-dash code fences
import SearchBar from "@/components/search-bar/SearchBar";
import BaseLayout from "@/layouts/BaseLayout.astro";
import DarkModeButton from "@/components/dark-mode-button";
import Filter from "@/components/filter-tags";
import ChallengesRender from "@/components/challenges-render";
import Footer from "@/components/footer";
---

<BaseLayout title="Interactive comments section | Frontend Mentor">
	<div class="bg-slate-100 dark:bg-slate-950 relative min-h-screen">
		<div class="max-w-5xl mx-auto">
			<div class="py-[2rem] flex gap-8 justify-between items-start">
				<section class="flex flex-col gap-4">
					<h1 class="text-4xl font-black text-neutral-900">Frontend Mentor Challenges</h1>
					<p class="text-base text-neutral-700 max-w-lg">
						These are some of the challenges of the Frontend Mentor page made with react and
						experimental tools!!
					</p>
				</section>
				<DarkModeButton client:only />
			</div>
			<div class="flex items-end justify-start pt-4 gap-12">
				<SearchBar client:only />
				<Filter client:only />
			</div>
			<ChallengesRender client:only />
			<Footer client:only />
		</div>
	</div>
</BaseLayout>

<style></style>
